.text-center {
  margin: 20px auto;
}

.col-xs-1 {
  border: 1px solid black;
  height: 80px;
  width: 80px;

}

.redPlayer {
  width:40px;
  height: 40px;
  background-color: red;
  position: relative;
  margin-top: 18px;
  margin-left: 5px;
}

.bluePlayer {
  width: 40px;
  height: 40px;
  background-color: blue;
  position: relative;
  margin-top: 18px;
  margin-left: 5px
}
