.text-center {
  margin: 20px auto;
}

.col-xs-1 {
  border: 1px solid black;
  height: 80px;
  width: 80px;

}

.redPlayer {
  width:40px;
  height: 40px;
  background-color: red;
  position: relative;
}

.bluePlayer {
  width: 40px;
  height: 40px;
  background-color: blue;
  position: relative;
}



/* CSS FOR EVENTUAL ANIMATED AVATARS

.exp-row {
  margin-top: 90px;
  border: 5px solid black;
  width: auto;
  height: 100px;
  position: relative;
}

.red {
  margin-top: 10px;
  width:20px;
  height: 20px;
  background-color: red;
  position: absolute;
}

.blue {
  margin-top: 60px;
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
}
